*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.newhome{
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.section1{
  width: 50%;
  background-color: #FDE3D9;
  min-height: 100vh;
  position: relative;
}

.section1>img{
  margin: 2rem;
}

.section1 .box1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10rem;
  width: 50vw;
}

.section1 .box1 > h3{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.section1 .box1 > p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #5a5a5a;
}

.section2{
  width: 50%;
  position: relative;
}

.section2 img{
  width: 100%;
}

.section2 .type-content{
  position: absolute;
  z-index: 2;
  color: #fff;
  width: 20vw;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.section2 .type-content > h4{
  margin-bottom: 1rem;
  font-weight: 300;
}
.section2 .type-content > p{
  margin-bottom: 1rem;
  font-weight: 300;
}

.section2 .navbar{
  position: absolute;
  z-index: 2;
  color: #fff;
  right: 10px;
  padding: 2rem;
}
.section2 .navbar ul{
  display: flex;
  list-style: none;
}

.navbar ul li{
  margin-right: 2rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.custom-carousel{
  width: 100%;
  overflow-y: hidden;
}

@media screen and (max-width:480px) {
  .newhome{
    flex-direction: column;
  }
}